<p>Welcome <%= session[:email] %>!</p>

<a href="/">Back home</a><br>
<a href="/notifications">Want to change how we notify you?</a>

<p>Choose the stations for which you want to receive elevator notifications.
(Currently supported: <%= @systems.map(&:name).join(', ') %>.)
</p>
<form action='/api/subscriptions' method='POST'>

  <ul>
  <% @systems.each do |system| %>
    <li> <b><%= system.name %></b>:
    <ul>
    <% system.stations.each do |station| %>
      <% checked = @user.stations.include?(station) %>
      <li>
      <input type='checkbox' name='<%= "stations[]"%>'
                             value='<%= station.id %>'
                             <% if checked %>
                             checked=true
                             <% end %>
      >
        <%= station.name %>
      </input>
      </li>
    <% end %>
    </ul>
    </li>
  <% end %>
  </ul>

  <input type='submit' value='Save subscriptions'>
  <%= Rack::Csrf.tag(env) %>
</form><br/>


<a href="/auth/logout" title="Sign-out">Sign-out</a>
